@import '~antd/dist/antd.css';

.container {
  position: absolute;
  /* height: 1000px; */
  width: 600px;
  overflow-y: auto;
  border: 1px solid #aaa;
  background-color: white;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
}

.item {
  height: 50px;
  margin: 2px;
  background-color: #eee;
  text-align: center;
  vertical-align: middle;
  border: 1px solid #ccc;
}

* {
  font-family: 'Oxygen', sans-serif;
}
  
body{
  /* height: 100%; */
  width: 100%;
}

.draggable-item{
  height: 50px;
  line-height: 50px;
  text-align: center;
  display: block;
  background-color: #fff;
  outline: 0;
  border: 1px solid rgba(0,0,0,.125);
  margin-bottom: 2px;
  margin-top: 2px;
}

.draggable-item-horizontal{
    height: 300px;
    padding: 10px;
    line-height: 100px;
    text-align: center;
    /* width : 200px; */
    display: block;
    background-color: #fff;
    outline: 0;
    border: 1px solid rgba(0,0,0,.125);
    margin-right: 4px;
}